@CHARSET "UTF-8";

html {
    background-color: rgb(230, 230, 230);
    font-smooth: always;
}

#area, #data-mod {
	border-style: solid;
	border-color: black;
	border-radius: 15px;
    margin: auto;
    position: relative;
    width: 650px;
}


#text { text-align: center; }

.signature {
    display: inline-block;
    background-image: -webkit-linear-gradient(top, transparent, black);
    border-style: solid;
    border-color: #FFAA00;
    border-radius: 15px;
    min-width: 200px;
    min-height: 30px;
    margin: 5px;
    color: white;
    text-shadow: -1px -1px 5px black;
    font-family: WideawakeRegular;
}

.signature:hover { background-color: transparent; }
.gameInfo:hover {background-color:transparent;}
.overlay:hover {background-color:transparent;}


.gameInfo {
    text-shadow: -1px -1px 5px black;
    font-family: Courier;
    color: yellow;
    text-align: left;
}

.overlay {
    text-align: right;
    letter-spacing: 1px;
    background-image: -webkit-linear-gradient(top left, white, transparent);
    border-top-left-radius: 10px;
    vertical-align: bottom;
}